body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}
.HomeContainer{
    background-color: rgba(0, 0, 0, 0.444);
}

/* Header */
.bg_image{

}

.header{

}

.header_nav_left{

}

.header_nav_right{

}

.header_link{

}

.avatar{

}

/* Middle */

.film{

}

.film_logo_text{

}
.film_text{

}

.film_bttns{

}

.film_btn_play{
    
}

.film_btn_info{
    
}


/* Footer */
.footer{

}